body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #333A35;
    display: flex;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: large;
    padding: 20px;
}

.container {
    display: flex;
}

.column {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}


.column2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 345px;
    margin-bottom: 100px;

}


.text-block {
    position: absolute;
    top: 330px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 860px;
    font-size: xx-large;
    font-family: 'Times New Roman'; 

}

.text-block2 {
    position: absolute;
    top: 230px;
    right: -15px;
    color: white;
    padding-left: 40px;
    padding-right: 400px;
    font-size: x-large;
}

.text-block3 {
    position: absolute;
    bottom: 245px;
    right: 67px;
    color: white;
    padding-left: 20px;
    padding-right: 420px;
    font-size: x-large;
}

h4 {
    padding: 0;
    margin: 0;

}

h5 {
    padding: 0px 50px 0px 60px;
    margin: 0px;
    font-size: xx-large;
    border-bottom: 2px solid #ECA419;
    padding-bottom: 63px;


}