body {
    background-color: red;
}

.navbar {
    background-color: #333A35;
    display: flex;
}
.navbar a {
    color: white;
    padding: 20px;
}

.column {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.container{
    display: flex;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 345px;
    margin-bottom: 100px;

}